<div id="neko-path-modal">
    <div class="npbox">
        <h3>Change Browser Download Folder</h3>
        <p>Files you download in the browser will be saved here on the server. Neko restarts automatically to apply.</p>
        <div class="npbox-presets" id="neko-path-presets"></div>
        <input class="np-input" type="text" id="neko-path-inp" placeholder="/mnt/exstore/Downloads" spellcheck="false">
        <div class="np-btns">
            <button class="btn gh" onclick="closeNekoPath()">Cancel</button>
            <button class="btn cy" onclick="applyNekoPath()">Apply and Restart</button>
        </div>
    </div>
</div>