<div class="overlay" id="out-modal">
    <div class="out-box">
        <div class="out-hdr">
            <span class="out-title" id="out-title">Output</span>
            <div style="display:flex;gap:.4rem">
                <button class="btn gh" style="font-size:.6rem;padding:.22rem .52rem" onclick="copyOutput()">Copy</button>
                <button class="nav-ico" onclick="closeOutput()">X</button>
            </div>
        </div>
        <div class="out-body" id="out-body"></div>
    </div>
</div>