<div id="path-modal">
    <div class="pbox">
        <div class="pbox-hdr">
            <span>Choose Folder</span>
            <button class="nav-ico" onclick="closePath()">X</button>
        </div>
        <div class="pbox-path" id="pbox-path">/mnt/exstore</div>
        <div class="pbox-list" id="pbox-list"></div>
        <div class="pbox-foot">
            <button class="btn gh" onclick="closePath()">Cancel</button>
            <button class="btn g" onclick="selectCurrentPath()">Use this folder</button>
        </div>
    </div>
</div>