<div class="panel" id="panel-logs">
    <div class="card c-bl">
        <div class="ch">
            <div class="ch-l">
                <div class="ch-icon b">LG</div>
                <div class="ch-title">Live Logs</div>
            </div>
            <button class="btn gh" style="font-size:.6rem;padding:.2rem .5rem" onclick="clearLog()">Clear</button>
        </div>
        <div class="log-tabs">
            <button class="ltab a" onclick="loadLog('gluetun',this)">Gluetun</button>
            <button class="ltab" onclick="loadLog('qbittorrent',this)">qBittorrent</button>
            <button class="ltab" onclick="loadLog('jellyfin',this)">Jellyfin</button>
            <button class="ltab" onclick="loadLog('wetty',this)">Wetty</button>
            <button class="ltab" onclick="loadLog('filebrowser',this)">FileBrowser</button>
            <button class="ltab" onclick="loadLog('neko',this)">Neko</button>
            <button class="ltab" onclick="loadLog('samba',this)">Samba</button>
            <button class="ltab" onclick="loadLog('docker',this)">Docker</button>
            <button class="ltab" onclick="loadLog('system',this)">Script</button>
            <button class="ltab" onclick="loadLog('syslog',this)">Syslog</button>
        </div>
        <div id="log-out">Select a log source above...</div>
    </div>
</div>